*{
    box-sizing: border-box;
}
.calculator-body{
    display:flex;
    flex-wrap:wrap;
    height:300px;
    width:250px;
}
body{
    display:flex;
    justify-content: center;
    align-content: center;
}
.number{
    width:50px;
    height:100;
    border:1px solid black;
}
#numberpad{
    width:150px;
    height:250px;
    display:flex;
    flex-wrap: wrap;
    flex-direction:row;
}
.operator{
    width: 100px;
    height:50px;
    border:1px solid black;
}
#operators{
    width:100px;
    align-items: flex-end;
    display:flex;
    flex-direction: column-reverse;
}
#display{
    width:250px;
    height:50px;
    font-size: 30px;
    text-align: right;
    border:1px solid black;
    padding:5px
}
#a0{
    order:1;
    flex-grow:2
}